html {
    background: #C7C9C9;
	background-image: url(../bilder/radl.jpg)

}
body{
    max-width: 1400px;
    padding: 2em 2em 4em;
    margin: auto;
    background-color:none;
}
h1{
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#0F1010;
}
        
h2{
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#0F1010;
	background-color:#FAFAD2;
	width: 400px;
	margin-left: 400px;
}
h3{
    font-family: Calibri;
    font-weight: normal;
    font-style:normal;
    text-align: left;
    text-decoration: underline;
    padding-top: 16px;
    padding-bottom: 16px;
    color:#0F1010;
}
h4{
    font-family: Calibri;
    font-weight: normal;
    font-style: oblique;
    text-decoration: underline;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#0F1010;
}
p{
    font-family: Calibri;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#0F1010;
    
}
img{
    background: transparent;
    border: none;
    width: auto;
    height: auto;
}
a{
    font-family: Calibri;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#0F1010;
    
}
map{
	width: 900px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
	height: 100 vh;
	width: 100 vw;
        }
.previous, .next{
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #0A2F9F;
}
.navigation{
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #0F1010;
	background-color: #FAFAD2;
	width: 700px;
	margin-left: 250px;
}
.author{
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #0A2F9F;

}
nav{
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: none;
    background-color: #C5E5E6;
    
}
